.button {
    padding: 20px 30px;
    color: white;
    background-color: #ED272D;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    transition: all ease 0.3s;
}

.button:active {
    background-color: #d9191f
}