.text-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.text-input__input {
    outline: none;
    border: none;
    border-bottom: 1px solid #CDCDCD;
    padding: 15px 0 20px 0;
}



.text-input__input--error{
    color:#ED272D;
    border-bottom: 1px solid #ED272D;

}

.text-input__input:focus {
    outline: none;
}

.text-input__input::placeholder {
    color: #9F9F9F;
}

.text-input__input--error::placeholder {
    color: #ED272D;
    text-align: right;
    font-weight: 500;
}

.text-input__label {
    font-size: 14px;
    font-weight: 700;
}

.text-input__label--error {
    color: #ED272D;
}