

.app {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px; 

}



@media (min-width: 800px) {
  .app {
    width: 90%;
    margin: auto;
    margin-top: 180px
  }
}

@media (min-width: 1000px){
  .app {
    width: 80%;
  }
}

@media (min-width: 1300px){
  .app {
    width: 1200px
  }
}

